/* Login.module.css */

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../IMG/Medical-Clinic.jpg');
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Cover the entire container with the background image */
}

  
  .register {
    width: 100%;
    max-width: 600px; /* Increased width */
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #172B59;
  }
  
  .siteLogo {
    margin-bottom: 30px;
  }
  
  h2 {
    margin-bottom: 30px;
    font-size: 28px;
  }
  
  .form {
    display: grid;
    row-gap: 20px;
  }
  
  .formField {
    display: flex;
    flex-direction: column;
  }
  
  .formField input[type="email"],
  .formField input[type="password"],
  .formField input[type="submit"] {
    padding: 15px;
    border: 2px solid #172B59;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .formField input[type="email"]:focus,
  .formField input[type="password"]:focus,
  .formField input[type="submit"]:focus {
    outline: none;
    border-color: #172B59;
  }
  
  .formField input[type="submit"] {
    background-color: #172B59;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formField input[type="submit"]:hover {
    background-color: #0d1e3a;
  }
  
  .alert {
    margin-top: 20px;
    color: #d9534f;
  }
  
  p {
    margin-top: 20px;
    font-size: 16px;
  }
  
  p a {
    color: #172B59;
    text-decoration: none;
    font-weight: bold;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  